<div class="tabela">
  <div class="tabela__cabecalho">
    <table>
      <thead>
        <th class="tabela__cabecalho__conteudo">Data</th>
        <th class="tabela__cabecalho__conteudo">Valor</th>
        <th class="tabela__cabecalho__conteudo">Destino</th>
      </thead>
      <tbody>
        <tr class="tabela__linha" *ngFor="let transferencia of transferencias">
          <td class="tabela_conteudo">{{ transferencia?.data | date }}</td>
          <td class="tabela_conteudo">{{ transferencia?.valor | currency }}</td>
          <td class="tabela_conteudo">{{ transferencia?.destino }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
